body {
  
    font-family: Arial, sans-serif;
  
    text-align: center;
  
    margin: 50px;
  
}

input {
  
    width: 100px;
  
    padding: 5px;
  
    margin: 5px;
  
}

button {
  
    margin: 5px;
  
    padding: 10px;
  
    font-size: 16px;
  
}

p {
  
    margin-left: 500px;
  
    margin-right: 500px;
  
    font-size: 18px;
  
    font-weight: bold;
  
}
